<div id="main-body" style="height: auto !important; min-height: 0px !important;">
  <!--  -->
  <div id="hostel-detail" style="height: auto !important;">
    <div class="container">
      <div class="detail-gallery">
        <div class="main_image">

          <div class="left">
            <div class="item item-big">
              <a href="https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20820/a20-q12cs2-10_1678348947.jpg"
                data-fancybox="group-image">
                <div class="img-bg"
                  style="background-image: url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20820/a20-q12cs2-10_1678348947.jpg');">
                  <img
                    src="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                    data-pagespeed-url-hash="1583148236"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
              </a>
            </div>
          </div>
          <div class="right">


            <div class="item">
              <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                data-fancybox="group-image">
                <div class="img-bg"
                  style="background-image: url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20789/1_1642408825.jpg');">
                  <img
                    src="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                    data-pagespeed-url-hash="1583148236"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
              </a>
            </div>



            <div class="item">
              <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                data-fancybox="group-image">
                <div class="img-bg"
                  style="background-image: url('https://tromoi.com/uploads/members/chi.tran/TIN%20TR%E1%BB%8C/20333/img-1677586805994-1677586816928_1678771884.jpg');">
                  <img
                    src="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                    data-pagespeed-url-hash="1409816730"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
              </a>
            </div>



            <div class="item">
              <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                data-fancybox="group-image">
                <div class="img-bg"
                  style="background-image: url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20790/1_1644113840.jpg');">
                  <img
                    src="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                    data-pagespeed-url-hash="2682074563"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
              </a>
            </div>



            <div class="item">
              <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                data-fancybox="group-image">
                <div class="img-bg"
                  style="background-image: url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20820/a20-q12cs2-10_1678348947.jpg');">
                  <img
                    src="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
                    data-pagespeed-url-hash="935171668"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
              </a>
            </div>















          </div>
        </div>

        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/chi.tran/TIN%20TR%E1%BB%8C/20642/z4319296234677_bce35ca4c86ad57f2061ffa6ccb4a4f9.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20789/1_1642408825.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20790/1_1644113840.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/guest/o_1h1iodgjkrds5td1c5oe1g1cs5m.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/chi.tran/TIN%20TR%E1%BB%8C/20333/img-1677586805994-1677586816928_1678771884.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20820/a20-q12cs2-10_1678348947.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
        <div class="see-all">
          <a href="https://tromoi.com/uploads/members/chi.tran/TIN%20TR%E1%BB%8C/20642/z4319296277789_a8dc102df134864b4b6c435aa8903fee.jpg"
            data-fancybox="group-image">
            <i class="fa-solid fa-list-ul"></i>
            Hiển thị tất cả ảnh
          </a>
        </div>
      </div>
    </div>
    <div class="container" style="height: auto !important;">
      <div id="main-content" class="main" style="height: auto !important;">
        <div id="center" style="height: auto !important;">
          <div class="hostel hostel-detail">
            <div class="module">
              <div class="moduletitle">
                <div class="breadcrumbs">
                  <div class="content">
                    <span class="item type">
                      Cho thuê trọ </span>
                    <span class="item_sep"> / </span>
                    <span class="item"><a href="#" class="province">Hưng Yên</a></span>
                    <span class="item_sep"> / </span>
                    <span class="item">
                      <a href="#" target="_blank"
                        title="Hoàng Mai">Phù Cừ</a>
                    </span>
                  </div>
                </div>
                <div class="blog-title">
                  <h3> Cho thuê trọ khép kín</h3>
                </div>
                <div class="social-date">

                  <div class="tag vip"> Tin VIP</div>
                  <!-- <div class="tag sticked">Xác thực</div> -->
                  <a href="javascript:void(0);" onclick="saveHostel(20642,23152)" class="tag saved heart-20642">Lưu
                    tin</a>

                </div>
              </div>
              <div class="modulecontent">
                <div class="box-content">
                  <div class="info-wrapper">
                    <dl>
                      <dt>Địa chỉ:</dt>
                      <dd> Ba Đông, Phan Sào Nam, Phù Cừ</dd>
                    </dl>
                    <dl>
                      <dt>Giá:</dt>
                      <dd>
                        Từ
                        1.600.000 - 2.300.000 đồng/tháng
                      </dd>
                    </dl>
                    <div class="info">
                      <div class="i-left">
                        <dl>
                          <dt>Hình thức:</dt>
                          <dd>
                            Dãy trọ -
                            Tự quản </dd>
                        </dl>
                        <dl>
                          <dt>Diện tích:</dt>
                          <dd>
                            25 m<sup>2</sup>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Số phòng:</dt>
                          <dd>-</dd>
                        </dl>
                        <dl>
                          <dt>Phòng trống:</dt>
                          <dd>
                            2 phòng </dd>
                        </dl>
                        <dl>
                          <dt>Ở tối đa:</dt>
                          <dd>
                          </dd>
                        </dl>
                      </div>
                      <div class="i-right">
                        <dl>
                          <dt>Người đăng:</dt>
                          <dd>
                            <span>Mr Trọ</span>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Điện thoại:</dt>
                          <dd class="phone">
                            <a href="tel:0983983147">
                              <span>0983983147</span>
                            </a>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Facebook:</dt>
                          <dd>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Email:</dt>
                          <dd>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Ngày cập nhật:</dt>
                          <dd class="published">
                            Hôm nay </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="py-20"></div>
                  <div class="content-detail__wrap">
                    <h2>Thông tin chi tiết</h2>
                    <div class="content-detail">
                      <div class="content">
                        <p>Cho thuê gác xép (1-2 nguoi ở) 2,3 triệu/tháng, 1 phòng ngủ 2,6 tr/tháng (cho Nam
                          thuê&nbsp;đi học, đi làm)</p>

                        <p>- Cọc 1 tháng đóng tiền 1 tháng, phòng khách bếp không chung chủ, vệ sinh khép kín.</p>

                        <p>- Đầy đủ tủ lạnh, điều hoà, máy giặt, quạt hút gió, quạt mát, bếp, bình nước nóng, máy sấy
                          tóc, bếp điện, nồi cơm điện, bàn ghế, điều hoà, máy xay sinh tố, chăn ga gối đệm, …</p>

                        <p>- Chìa khóa riêng, điện nước giá nhà nước.</p>

                        <p>- Liên hệ số điện thoại, Mr Trọ, zalo 0983983147, miễn trung gian</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-20"></div>

                  <div class="line"></div>
                  <div class="gmap">
                    <h2>Vị trí</h2>

                    <!-- <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      src="https://maps.google.it/maps?q=P.+Linh+%C4%90%C3%A0m%2C+Ho%C3%A0ng+Mai%2C+H%C3%A0+N%E1%BB%99i%2C+Vietnam&amp;output=embed"></iframe> -->
                  </div>
                  <div class="box-info-review" id="hostel-review">
                    <h2 class="title">0 <i class="fa fa-star"></i> (Có 0 bài đánh giá)</h2>
                    <div class="inner-review">
                      <ul>
                        <li>
                          <p class="name">Chủ trọ :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Giá cả :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Môi trường :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Tiện ích :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">An ninh :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Hàng xóm :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a href="#tab_1" data-toggle="tab" aria-expanded="true">Đánh giá</a>
                        </li>
                        <li class="">
                          <a data-toggle="modal" data-target="#box-review" class="port">Viết đánh giá</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          <div class="item">
                            <div class="content-review">
                              <p style="padding: 0 10px">Chưa có đánh giá nào</p>
                              <a href="#" class="more-review">Xem thêm <span class="fa fa-angle-right"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                   
                  </div>
                
                </div>
              </div>
            </div>
          </div>

         

          
        </div>
        <div id="sidebar" class="sidebar" style="height: auto !important;">
          <div class="sidebar__inner" style="height: auto !important;">
            <div class="box-contact right">
              <h2>Liên hệ chủ trọ</h2>
              <dl>
                <!-- <dt><i class="fa-regular fa-circle-user"></i></dt> -->
                <dd>
                  <h3>Mr Trọ</h3>
                </dd>
              </dl>
              <dl>
                <!-- <dt><i class="fa-solid fa-phone"></i></dt> -->
                <dd>
                  <a href="tel:0983983147">0983983147</a>
                </dd>
              </dl>
              <div class="phone">
                <a class="btn-global" href="tel:0983983147"> Gọi ngay </a>
              </div>
            </div>
            <div class="list-report">
              <a data-toggle="modal" data-target="#baocao" class="report new report-list">Báo tin không hợp lệ</a>
              <a data-toggle="modal" data-target="#exampleModal" class="report room empty"
                onclick="addReportCode('het-phong')">Báo tin hết phòng</a>
            </div>
            <div class="ads mt-10">

             
              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>