<div class="container">
  <div id="main-content" class="main search">
    <div id="sidebar" class="sidebar">
      <div class="sidebar__inner">
        <ul class="main">
          <li>
            <div class="dropdown">
              <div class="heading-filter opt_location">Địa điểm, vị trí</div>
              <div class="dropdown-content">
                <div class="drop_body">
                  <select name="opt_province" class="opt_province form-control select2 select2-hidden-accessible"
                    data-placeholder="Huyện" aria-hidden="true" style="width:100%" single="" tabindex="-1">
                    <option value="toan-quoc">Huyện</option>
                    <option value="ho-chi-minh">Hồ Chí Minh</option>
                    <option value="ha-noi">Hà Nội</option>
                    <option value="da-nang">Đà Nẵng</option>
                    <option value="thua-thien-hue">Thừa Thiên Huế</option>
                    <option value="binh-duong">Bình Dương</option>
                    <option value="an-giang">An Giang</option>
                    <option value="ba-ria-vung-tau">Bà Rịa - Vũng Tàu</option>
                    <option value="bac-giang">Bắc Giang</option>
                    <option value="bac-kan">Bắc Kạn</option>
                    <option value="bac-lieu">Bạc Liêu</option>
                    <option value="bac-ninh">Bắc Ninh</option>
                    <option value="ben-tre">Bến Tre</option>
                    <option value="binh-phuoc">Bình Phước</option>
                    <option value="binh-thuan">Bình Thuận</option>
                    <option value="binh-dinh">Bình Định</option>
                    <option value="ca-mau">Cà Mau</option>
                    <option value="can-tho">Cần Thơ</option>
                    <option value="cao-bang">Cao Bằng</option>
                    <option value="gia-lai">Gia Lai</option>
                    <option value="ha-giang">Hà Giang</option>
                    <option value="ha-nam">Hà Nam</option>
                    <option value="ha-tinh">Hà Tĩnh</option>
                    <option value="hai-duong">Hải Dương</option>
                    <option value="hai-phong">Hải Phòng</option>
                    <option value="hau-giang">Hậu Giang</option>
                    <option value="hoa-binh">Hòa Bình</option>
                    <option value="hung-yen">Hưng Yên</option>
                    <option value="khanh-hoa">Khánh Hòa</option>
                    <option value="kien-giang">Kiên Giang</option>
                    <option value="kon-tum">Kon Tum</option>
                    <option value="lai-chau">Lai Châu</option>
                    <option value="lam-dong">Lâm Đồng</option>
                    <option value="lang-son">Lạng Sơn</option>
                    <option value="lao-cai">Lào Cai</option>
                    <option value="long-an">Long An</option>
                    <option value="nam-dinh">Nam Định</option>
                    <option value="nghe-an">Nghệ An</option>
                    <option value="ninh-binh">Ninh Bình</option>
                    <option value="ninh-thuan">Ninh Thuận</option>
                    <option value="phu-tho">Phú Thọ</option>
                    <option value="phu-yen">Phú Yên</option>
                    <option value="quang-binh">Quảng Bình</option>
                    <option value="quang-nam">Quảng Nam</option>
                    <option value="quang-ngai">Quảng Ngãi</option>
                    <option value="quang-ninh">Quảng Ninh</option>
                    <option value="quang-tri">Quảng Trị</option>
                    <option value="soc-trang">Sóc Trăng</option>
                    <option value="son-la">Sơn La</option>
                    <option value="tay-ninh">Tây Ninh</option>
                    <option value="thai-binh">Thái Bình</option>
                    <option value="thai-nguyen">Thái Nguyên</option>
                    <option value="thanh-hoa">Thanh Hóa</option>
                    <option value="tien-giang">Tiền Giang</option>
                    <option value="tra-vinh">Trà Vinh</option>
                    <option value="tuyen-quang">Tuyên Quang</option>
                    <option value="vinh-long">Vĩnh Long</option>
                    <option value="vinh-phuc">Vĩnh Phúc</option>
                    <option value="yen-bai">Yên Bái</option>
                    <option value="dak-lak">Đắk Lắk</option>
                    <option value="dak-nong">Đắk Nông</option>
                    <option value="dien-bien">Điện Biên</option>
                    <option value="dong-nai">Đồng Nai</option>
                    <option value="dong-thap">Đồng Tháp</option>
                  </select><span class="select2 select2-container select2-container--default" dir="ltr"
                    style="width: 100%;"><span class="selection"><span
                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="0" aria-labelledby="select2-opt_province-et-container"><span
                          class="select2-selection__rendered" id="select2-opt_province-et-container"
                          title="Toàn quốc">Huyện</span><span class="select2-selection__arrow"
                          role="presentation"><b role="presentation"></b></span></span></span><span
                      class="dropdown-wrapper" aria-hidden="true"></span></span>

                  <select name="district_code" id="district_code"
                    class="opt-district form-control select2 select2-hidden-accessible"
                    data-placeholder="Xã" aria-hidden="true" style="width:100%" single=""
                    tabindex="-1"></select><span class="select2 select2-container select2-container--default" dir="ltr"
                    style="width: 100%;"><span class="selection"><span
                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="0" aria-labelledby="select2-district_code-container"><span
                          class="select2-selection__rendered" id="select2-district_code-container"><span
                            class="select2-selection__placeholder">Xã</span></span><span
                          class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                      aria-hidden="true"></span></span>
                  <select name="street" id="street" class="opt-street form-control select2 select2-hidden-accessible"
                    data-placeholder="Thôn" aria-hidden="true" style="width:100%" single=""
                    tabindex="-1"></select><span class="select2 select2-container select2-container--default" dir="ltr"
                    style="width: 100%;"><span class="selection"><span
                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="0" aria-labelledby="select2-street-container"><span
                          class="select2-selection__rendered" id="select2-street-container"><span
                            class="select2-selection__placeholder">Thôn</span></span><span
                          class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                      aria-hidden="true"></span></span>
                  <select id="location" name="location"
                    class="opt-location form-control select2 select2-hidden-accessible" single=""
                    data-placeholder="Xóm" aria-hidden="true" style="width:100%" tabindex="-1">
                    <option value="0">Xóm</option>
                  </select><span class="select2 select2-container select2-container--default" dir="ltr"
                    style="width: 100%;"><span class="selection"><span
                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="0" aria-labelledby="select2-location-container"><span
                          class="select2-selection__rendered" id="select2-location-container" title="Xóm">Vị
                          trí</span><span class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                      aria-hidden="true"></span></span> 
                </div>
              </div>
            </div>
          </li>        
          <li>
            <div class="dropdown">
              <div class="heading-filter opt_price">Tìm kiếm theo giá </div>
              <div class="dropdown-content">
                <div class="drop_body">
                  <span class="radio">
                    <input type="radio" id="opt_price-0" name="opt_price" class="radio-btn" value="0">
                    <label for="opt_price-0" class="label">Tất cả</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-1" name="opt_price" class="radio-btn" value="1">
                    <label for="opt_price-1" class="label">Dưới 1 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-2" name="opt_price" class="radio-btn" value="2">
                    <label for="opt_price-2" class="label">1 triệu - 2 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-3" name="opt_price" class="radio-btn" value="3">
                    <label for="opt_price-3" class="label">2 triệu - 3 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-4" name="opt_price" class="radio-btn" value="4">
                    <label for="opt_price-4" class="label">3 triệu - 5 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-5" name="opt_price" class="radio-btn" value="5">
                    <label for="opt_price-5" class="label">5 triệu - 7 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-6" name="opt_price" class="radio-btn" value="6">
                    <label for="opt_price-6" class="label">7 triệu - 10 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-7" name="opt_price" class="radio-btn" value="7">
                    <label for="opt_price-7" class="label">10 triệu - 15 triệu</label>
                  </span>
                  <span class="radio">
                    <input type="radio" id="opt_price-8" name="opt_price" class="radio-btn" value="8">
                    <label for="opt_price-8" class="label">Trên 15 triệu</label>
                  </span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <div class="heading-filter opt_price">Tìm kiếm hình thức </div>
              <div class="dropdown-content">
                <div class="drop_body">
                  <span class="dropdown-header">Hình thức</span>
                <div class="boxes">
                  <input type="checkbox" id="form_type-phong-tro" name="form_type[]" value="phong-tro"><label
                    for="form_type-phong-tro">Phòng trọ</label>
                  <input type="checkbox" id="form_type-ky-tuc-xa" name="form_type[]" value="ky-tuc-xa"><label
                    for="form_type-ky-tuc-xa">Ký túc xá</label>
                  <input type="checkbox" id="form_type-chung-cu-mini" name="form_type[]" value="chung-cu-mini"><label
                    for="form_type-chung-cu-mini">Chung cư mini</label>
                  <input type="checkbox" id="form_type-cu-xa" name="form_type[]" value="cu-xa"><label
                    for="form_type-cu-xa">Cư xá</label>
                  <input type="checkbox" id="form_type-homestay" name="form_type[]" value="homestay"><label
                    for="form_type-homestay">Homestay</label>
                  <input type="checkbox" id="form_type-tro-nha-nguyen-can" name="form_type[]"
                    value="tro-nha-nguyen-can"><label for="form_type-tro-nha-nguyen-can">Trọ nhà nguyên căn</label>
                  <input type="checkbox" id="form_type-tro-trong-nha-chung-chu" name="form_type[]"
                    value="tro-trong-nha-chung-chu"><label for="form_type-tro-trong-nha-chung-chu">Trọ trong nhà chung
                    chủ</label>
                </div>
                <span class="dropdown-header">Xác thực</span>
                <input type="checkbox" id="sticked" name="sticked" value=""><label for="sticked">Được xác thực</label>   
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <div class="heading-filter opt_more">Các tiêu chí khác </div>
              <div class="dropdown-content full">
                <select name="opt_area" id="opt_area" class="opt-area">
                  <option value="0" selected="">Diện tích ...</option>
                  <option value="1">Dưới 20 m2</option>
                  <option value="2">20 - 30 m2</option>
                  <option value="3">30 - 50 m2</option>
                  <option value="4">50 - 60 m2</option>
                  <option value="5">60 - 70 m2</option>
                  <option value="6">70 - 80 m2</option>
                  <option value="7">80 - 100 m2</option>
                  <option value="8">Trên 100 m2</option>
                </select>
                <select id="opt_sex" name="opt_sex">
                  <option value="0">Giới tính...</option>
                  <option value="1">Nam</option>
                  <option value="2">Nữ</option>
                </select> <select id="opt_managing" name="opt_managing">
                  <option value="">Cho tự quản...</option>
                  <option value="0">Không</option>
                  <option value="1">Có</option>
                </select>
                           
              </div>
            </div>
          </li>
          <li>
            <div class="action">
              <button class="dropbtn btn-apply">TÌM KIẾM</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="center" class="right">
      <div class="filter-show">Hiển thị bộ lọc tìm kiếm</div>
      <div class="hostel hostel-list main-list">
        <div class="module">
          <div class="modulecontent">


            <div class="result-sort">
              <h2 class="result">Kết quả: <strong>Hơn 2000</strong> tin bài</h2>
              <div class="filter">
                <span>Hiển thị: </span>
                <select>
                  <option value="default" selected="">Mặc định</option>
                  <option value="price-up">Giá tăng dần</option>
                  <option value="price-down">Giá giảm dần</option>
                </select>
              </div>
            </div>
            <div class="line"></div>

            <div class="item column" title="Cho thuê trọ khép kín">
              <div class="border">
                <div class="image">
                  <div class="heart" onclick="saveHostel(20640,23152)">
                    <a href="javascript:;" class="tag save heart-20640" hostel-id="heart-20640"><svg viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                        style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
                        <path
                          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
                        </path>
                      </svg></a>
                  </div>
                  <a href="http://localhost:4200/home/detail"
                    style="background-image:url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20790/1_1644113840.jpg')"></a>
                </div>
                <div class="info col">
                  <div class="star">
                    <span class="local">
                      <a >Hưng Yên</a> </span>

                  </div>
                  <h4 class="title ">
                    <a href="http://localhost:4200/home/detail">
                      Cho thuê trọ khép kín </a>
                  </h4>
                  <div class="location-area ">
                    <dl class="address">
                      <dt> Ba Đông, Phan Sào Nam, Phù Cừ</dt>
                    </dl>
                  </div>
                  <dl class="contact">
                    <div class="price">
                      4.600.000 VNĐ
                    </div>
                    <span class="published">Hôm nay</span>
                  </dl>
                </div>
              </div>
            </div>
            <div class="item column" title="Cho thuê trọ khép kín">
              <div class="border">
                <div class="image">
                  <div class="heart" onclick="saveHostel(20640,23152)">
                    <a href="javascript:;" class="tag save heart-20640" hostel-id="heart-20640"><svg viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                        style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
                        <path
                          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
                        </path>
                      </svg></a>
                  </div>
                  <a href="http://localhost:4200/home/detail"
                    style="background-image:url('https://tromoi.com/uploads/guest/o_1h1iodgjkrds5td1c5oe1g1cs5m.jpg')"></a>
                </div>
                <div class="info col">
                  <div class="star">
                    <span class="local">
                      <a href="http://localhost:4200/home/detail">Hưng Yên</a> </span>

                  </div>
                  <h4 class="title ">
                    <a href="http://localhost:4200/home/detail">
                      Cho thuê trọ khép kín </a>
                  </h4>
                  <div class="location-area ">
                    <dl class="address">
                      <dt> Ba Đông, Phan Sào Nam, Phù Cừ</dt>
                    </dl>
                  </div>
                  <dl class="contact">
                    <div class="price">
                      4.600.000 VNĐ
                    </div>
                    <span class="published">Hôm nay</span>
                  </dl>
                </div>
              </div>
            </div>
            <div class="item column" title="Cho thuê trọ khép kín">
              <div class="border">
                <div class="image">
                  <div class="heart" onclick="saveHostel(20640,23152)">
                    <a href="javascript:;" class="tag save heart-20640" hostel-id="heart-20640"><svg viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                        style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
                        <path
                          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
                        </path>
                      </svg></a>
                  </div>
                  <a href="http://localhost:4200/home/detail"
                    style="background-image:url('https://tromoi.com/uploads/members/chi.tran/TIN%20TR%E1%BB%8C/20333/img-1677586805994-1677586816928_1678771884.jpg')"></a>
                </div>
                <div class="info col">
                  <div class="star">
                    <span class="local">
                      <a href="http://localhost:4200/home/detail">Hưng Yên</a> </span>

                  </div>
                  <h4 class="title ">
                    <a href="http://localhost:4200/home/detail">
                      Cho thuê trọ khép kín </a>
                  </h4>
                  <div class="location-area ">
                    <dl class="address">
                      <dt> Ba Đông, Phan Sào Nam, Phù Cừ</dt>
                    </dl>
                  </div>
                  <dl class="contact">
                    <div class="price">
                      4.600.000 VNĐ
                    </div>
                    <span class="published">Hôm nay</span>
                  </dl>
                </div>
              </div>
            </div>
            <div class="item column" title="Cho thuê trọ khép kín">
              <div class="border">
                <div class="image">
                  <div class="heart" onclick="saveHostel(20640,23152)">
                    <a href="javascript:;" class="tag save heart-20640" hostel-id="heart-20640"><svg viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                        style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
                        <path
                          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
                        </path>
                      </svg></a>
                  </div>
                  <a href="http://localhost:4200/home/detail"
                    style="background-image:url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20820/a20-q12cs2-10_1678348947.jpg')"></a>
                </div>
                <div class="info col">
                  <div class="star">
                    <span class="local">
                      <a href="http://localhost:4200/home/detail">Hưng Yên</a> </span>

                  </div>
                  <h4 class="title ">
                    <a href="http://localhost:4200/home/detail">
                      Cho thuê trọ khép kín </a>
                  </h4>
                  <div class="location-area ">
                    <dl class="address">
                      <dt> Ba Đông, Phan Sào Nam, Phù Cừ</dt>
                    </dl>
                  </div>
                  <dl class="contact">
                    <div class="price">
                      4.600.000 VNĐ
                    </div>
                    <span class="published">Hôm nay</span>
                  </dl>
                </div>
              </div>
            </div>
            <div class="item column" title="Cho thuê trọ khép kín">
              <div class="border">
                <div class="image">
                  <div class="heart" onclick="saveHostel(20640,23152)">
                    <a href="javascript:;" class="tag save heart-20640" hostel-id="heart-20640"><svg viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                        style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
                        <path
                          d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
                        </path>
                      </svg></a>
                  </div>
                  <a href="http://localhost:4200/home/detail"
                    style="background-image:url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20789/1_1642408825.jpg')"></a>
                </div>
                <div class="info col">
                  <div class="star">
                    <span class="local">
                      <a href="http://localhost:4200/home/detail">Hưng Yên</a> </span>

                  </div>
                  <h4 class="title ">
                    <a href="http://localhost:4200/home/detail">
                      Cho thuê trọ khép kín </a>
                  </h4>
                  <div class="location-area ">
                    <dl class="address">
                      <dt> Ba Đông, Phan Sào Nam, Phù Cừ</dt>
                    </dl>
                  </div>
                  <dl class="contact">
                    <div class="price">
                      4.600.000 VNĐ
                    </div>
                    <span class="published">Hôm nay</span>
                  </dl>
                </div>
              </div>
            </div>
            <div class="paginator">
              <ul class="pagination">
                <li class="disabled"><span>«</span></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

