<div class="section box box-news">
  <div class="container">
    <div class="box-block-news">				
      <div class="box box-news news news-list latest main">
        <div class="box-header">
          <h2 class="box-title text-left text-upper">Tin mới nhất</h2>
        </div>
        <div class="box-body">
          <div class="modulecontent">

            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="border">
                <div class="image"
                  style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')">
                  <a
                    href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"></a>
                </div>
                <div class="content">
                  <h4 class="title"><a
                      href="https://tromoi.com/blog/kinh-nghiem/sinh-vien-nen-tim-phong-tro-qua-kenh-nao"
                      title="Sinh viên nên tìm phòng trọ qua kênh nào">Sinh viên nên tìm phòng
                      trọ qua kênh nào</a></h4>
                  <div class="description">Kinh nghiệm tìm phòng trọ: Sinh viên nên tìm phòng trọ
                    qua kênh nào?
                  </div>
                  <span class="published">Hôm nay</span>
                </div>
              </div>
            </div>

          </div>
          <div class="action center"><a href="https://tromoi.com/blog" class="btn-global light">XEM THÊM
            </a></div>
        </div>
      </div>
    </div>
  </div>
</div>